body a {
	font-family: arial,sans-serif;
	font-size: 13px;
}

#search-area {
	width: 100%;
	text-align: center;
	position: fixed;
	top: 30%;
}

#top-nav-bar {
	width: auto;
	margin-top: 20px;
}

#tb-right-links {
	float: right;
	white-space: nowrap;
	margin-right:30px;
}

#top-nav-bar a,
#top-nav-bar button,
#bot-nav-bar a {
	margin-left: 10px;
}

#bot-nav-bar {
	background-color: #f2f2f2;
	padding-bottom: 10px;
	padding-top: 10px;
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top: 1px solid #e4e4e4;
}

#bb-right-links {
	float: right;
	white-space: nowrap;
	margin-right:30px
}

#search-box p{
	display: inline
}

#search-box {
		margin-top: 15px;
		margin-bottom: 25px;
		margin-left: 30%;
		margin-right: 30%;
		padding: 15px;
		border: 1px solid #e4e4e4;
		border-radius: 30px;
}

#search-box:hover {
	box-shadow: 2px 2px #e4e4e4;
}

#search-term {
	border: 0px;
}

#search-button,
#lucky-button,
#tb-signin-button {
	border: 0px;
	padding: 10px;
}

#lucky-button {
	margin-left: 15px;
}

#search-button,
#lucky-button {
	color: #5f6368;
}

#tb-signin-button {
	font-weight: bold;
}

#tb-signin-button {
	background-color: #4285f4;
	color: #FFFFFF;
	border-radius: 2px;
}

#sb-mag {
	margin-right:7px;
}

#search-term:focus {
	outline-width: 0;
}
a {
	color: #5f6368;
	text-decoration: none;
}

#tb-right-links a {
	color: #000000;
}

#tb-right-links a:hover {
	text-decoration: underline;
	color: #5f6368;
}

a:hover {
	text-decoration: underline;
	color: #5f6368;
}
